~*
/Group Projects/GroupProject1JGuerra/nbproject/private/
/Group Projects/GroupProject1JGuerra/build/
/geometry/nbproject/private/
/sandbox/nbproject/private/
/sandbox/build/
/algebra_2x2/nbproject/private/
/algebra_2x2/build/
/geometry_intersectingLines/nbproject/private/
/geometry_intersectingLines/build/
/geometry/build/
/RPGBattle/nbproject/private/
/RPGBattle/build/
/Calculator/nbproject/private/
/Calculator/build/
/Calculator/dist/
/testDistinctNumbers/nbproject/private/
/testDistinctNumbers/build/
/testDistinctNumbers/dist/
/basicCircles/nbproject/private/
/basicCircles/build/
/basicCircles/dist/
/imageSelector/nbproject/private/
/imageSelector/build/
/imageSelector/dist/
/Dictionary/nbproject/private/
/Dictionary/dist/
/Dictionary/build/